################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExtendedColorConfigMod/v17
/ColorConfig/.vs/ColorConfig
/ColorConfig/obj/Debug/net48
/ColorConfig/obj
/ColorConfig/ColorConfigHooksOBSOLETE.cs
/ColorConfig/bin/Debug/net48
